USE [master]
GO
/****** Object:  Database [OptimizationDB]    Script Date: 2025-11-11 12:18:17 ******/
CREATE DATABASE [OptimizationDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OptimizationDB', FILENAME = N'D:\sql\MSSQL16.MSSQLSERVER\MSSQL\DATA\OptimizationDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OptimizationDB_log', FILENAME = N'D:\sql\MSSQL16.MSSQLSERVER\MSSQL\DATA\OptimizationDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OptimizationDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OptimizationDB]
GO
/****** Object:  Table [dbo].[test_function_results]    Script Date: 2025-11-11 12:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test_function_results](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[func_name] [nvarchar](100) NOT NULL,
	[timestamp] [nvarchar](50) NOT NULL,
	[best_value] [float] NOT NULL,
	[best_position] [nvarchar](max) NULL,
	[convergence_history] [nvarchar](max) NULL,
	[algorithm_params] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_test_results_summary]    Script Date: 2025-11-11 12:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 步骤5: 创建视图（方便查询）
-- =============================================

-- 创建测试函数结果汇总视图
CREATE VIEW [dbo].[vw_test_results_summary] AS
SELECT 
    func_name AS 函数名称,
    COUNT(*) AS 求解次数,
    MIN(best_value) AS 最优值,
    AVG(best_value) AS 平均值,
    MAX(timestamp) AS 最后求解时间
FROM test_function_results
GROUP BY func_name;
GO
/****** Object:  Table [dbo].[knapsack_results]    Script Date: 2025-11-11 12:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[knapsack_results](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[timestamp] [nvarchar](50) NOT NULL,
	[max_value] [int] NOT NULL,
	[selected_items] [nvarchar](max) NULL,
	[total_weight] [int] NOT NULL,
	[optimization_history] [nvarchar](max) NULL,
	[problem_params] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_knapsack_results_summary]    Script Date: 2025-11-11 12:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 创建背包问题结果汇总视图
CREATE VIEW [dbo].[vw_knapsack_results_summary] AS
SELECT 
    MAX(max_value) AS 历史最大价值,
    AVG(CAST(max_value AS FLOAT)) AS 平均价值,
    AVG(CAST(total_weight AS FLOAT)) AS 平均重量,
    COUNT(*) AS 求解次数
FROM knapsack_results;
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_knapsack_timestamp]    Script Date: 2025-11-11 12:18:18 ******/
CREATE NONCLUSTERED INDEX [idx_knapsack_timestamp] ON [dbo].[knapsack_results]
(
	[timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_func_name]    Script Date: 2025-11-11 12:18:18 ******/
CREATE NONCLUSTERED INDEX [idx_func_name] ON [dbo].[test_function_results]
(
	[func_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_timestamp]    Script Date: 2025-11-11 12:18:18 ******/
CREATE NONCLUSTERED INDEX [idx_timestamp] ON [dbo].[test_function_results]
(
	[timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[knapsack_results] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[test_function_results] ADD  DEFAULT (getdate()) FOR [created_at]
GO
/****** Object:  StoredProcedure [dbo].[sp_cleanup_old_records]    Script Date: 2025-11-11 12:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 存储过程：清理旧数据（保留最近N条记录）
CREATE PROCEDURE [dbo].[sp_cleanup_old_records]
    @keep_count INT = 100
AS
BEGIN
    -- 清理测试函数结果
    DELETE FROM test_function_results
    WHERE id NOT IN (
        SELECT TOP (@keep_count) id 
        FROM test_function_results 
        ORDER BY id DESC
    );
    
    -- 清理背包问题结果
    DELETE FROM knapsack_results
    WHERE id NOT IN (
        SELECT TOP (@keep_count) id 
        FROM knapsack_results 
        ORDER BY id DESC
    );
    
    -- 返回清理的记录数
    SELECT @@ROWCOUNT AS deleted_rows;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_get_best_result]    Script Date: 2025-11-11 12:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 步骤6: 创建存储过程（可选的高级功能）
-- =============================================

-- 存储过程：获取指定函数的最佳结果
CREATE PROCEDURE [dbo].[sp_get_best_result]
    @func_name NVARCHAR(100)
AS
BEGIN
    SELECT TOP 1 
        id,
        func_name,
        timestamp,
        best_value,
        best_position,
        algorithm_params
    FROM test_function_results
    WHERE func_name = @func_name
    ORDER BY best_value ASC;
END;
GO
USE [master]
GO
